$color-1: #755CDE;
$color-2: #F6A560;
$color-3: #F39E9E;
$color-4: #EB7565;
$color-5: #61C4B7;
$color-6: #552049;
$color-7: #030303;
$color-8: #7A746E;
$color-9: #FFF7F0;

$size-l: 56px;
$size-m: 40px;
$size-s: 32px;
$size-b: 18px;