@import '../variables';

.ConsultationContainer{
  max-width: 1111px;
  margin: 0 auto 88px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  img{
    width: 445px;
    height: 445px;
  }
  h2{
    margin-bottom: 34px;
  }
  p{
    color: $color-8;
    margin-bottom: 32px;
  }
}